html, body {
  background-color: white;
}

#app {
  font-family: -apple-system, "SF Pro Display", BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  letter-spacing: .008em;
  color: #333;
}

h3 {
  letter-spacing: .008em;
  color: #333;
  margin-bottom: 1em;
}

p {
  color: #333;
  line-height: 1.52947;
}

a,
a:link,
a:visited,
a:focus,
a:active {
  color: #43c3e7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background-color: lightgray;
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.25s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #444;
    color: #e4e4e4;
  }
  a,
  a:link,
  a:visited,
  a:focus,
  a:active {
    color: #41a4e6;
  }
  img {
    filter: grayscale(30%);
  }
  h1, h3, p {
    color: #e4e4e4;
  }
}
